.city-list {
	width:90%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:em(26);
	@include bp(tablet) {
		width:100%;
	}
	li {
		a {
			display:block;
			color:$brand-dark;
			font-size:em(16);
			line-height:30px;
			padding-left:em(16);
			padding-right:em(16);
			background:rgba(172,192,38,0.15);
			font-family: 'latolight';
			&:hover,
			&.active {
				color:#fff;
				background:$brand-orange url(#{$assetPath}/arrow-right-small.svg) no-repeat 93% center; 
			}
		}
		&:nth-child(odd) {
			background:rgba(172,192,38,0.25);
		}
	}
}

.course-lists {
}