nav {
	position:relative;
	width:100%;
	margin:0;
	background:$brand-dark;
	z-index:2000;
	font-family: 'latolight';
}
nav > a {
	display: none;
}
nav li {
	position: relative;
}
nav ul {
	position:relative;

}
nav ul li a {
	color: #fff;
	display: block;
}
nav li a:active {
	background:#fff;
}

/* first level */
nav > ul {	
	width:100%;
	background: $brand-dark;
}
nav > ul > li {
	width:auto;
	float:left;
	&.last {
		position:absolute;
		right:0;
		a {
			background:$brand-orange;
		}
	}
}
nav > ul > li > a {	
	white-space: nowrap;
	font-size:em(16); 
	line-height:em(40);
	text-align: center;
	padding:0 em(24);
	box-sizing: border-box;
	background: $brand-dark;
	@include bp(desktop) {
		padding:0 em(23.5);
	}
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
		padding:0 em(20.5);
	}
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		padding:0 em(22.8);
	}
	&.home {
		padding:0 em(8);
		background:#000;
		@include bp(desktop) {
			padding:0 em(40) 0 em(41);
			img {
				position:relative;
				top:-2px;
			}
		}
	}
	
}
/*  IE 10 and 11 */
.ie9 nav > ul > li > a {
	padding:0 em(25) 0 em(25);
	&.last {
		right:-8px;
	}
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	nav > ul > li > a {
		padding:0 em(20) 0 em(21);
		&.last {
			right:-6px;
		}
	}
}

nav > ul > li:not( :last-child ) > a {
	
}
nav > ul > li:hover > a,
nav > ul:not( :hover ) > li > a.active {
	background:$brand-orange;
}

/* second level */
nav li ul {
	background:$brand-dark;
	display: none;
	position: absolute;
	top: 100%;
}
nav li:hover ul,
nav li:target ul {
	display: block;
	left: 0;
	right: 0;
}
nav li:not( :first-child ):hover ul {
	left: -1px;
}
nav li ul a {
	font-size:em(16);
	padding:em(5) 10%;
}
nav li ul li a:hover,
nav li ul:not( :hover ) li.active a {
	background:$brand-orange;
}

/* Mobile Navigation */
.mobilemenu {
	position:relative;
	top:5px;
	width:100%;
	max-height:50px;
	display:inline-block;
	background:$brand-dark;
	li {
		float:left;
		a {
			color:#fff;
			display:inline-block;
			white-space: nowrap;
			font-size:em(16); 
			line-height:em(50);
			text-align: center;
			padding:0 em(8);
			box-sizing: border-box;
			background: $brand-dark;
			&.toggle {
				position:relative;
				top:-2px;
				padding:0;
				background:none;
				@media screen and (-webkit-min-device-pixel-ratio:0) {
					top:-1px;
				}
			}
			&.last {
				position:absolute;
				right:0;
				background:$brand-orange;
			}
		}
	}
}
.mobile-container {
	position:relative;
	width:100%;
	display:block;
	.holder {
		position:relative;
		top:em(-5);
		width:100%;
		margin:0;
		background:$brand-dark;
		li {
			a {
				color:#fff;
				width:100%;
				padding:em(8) 2%;
				display:inline-block;
				border-top:1px solid $brand-lighter;
			}
		}
	}
}
div.mobile {
	display:none;
}