// Font Face
// @include fontface('FONT_NAME', 'assets/fonts/', 'FONT_FAMILY');

// Structure
$pageWidth: 1000px;

// Text Selection
$selectionColor: orange;

// Links
$linkColor:#5f9531;
$linkHoverColor: #acc026;

// Other
$brand-light:#acc026;
$brand-light-second:#59a618;
$brand-dark:#5f9531;
$brand-lighter:#dde2bc;
$brand-orange:#f7931e;
$body-copy:#333333;

// Path to images
// Use #{$assetPath}/
$assetPath : "assets/images";